
.login-box{
    margin: 2% auto;
}
.login-wrapper {
    /*    padding: 2px 20px 20px 20px;*/
    min-width: 300px;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
}

.image-logo {
    text-align: center;
    padding: 10px;
}

// mixin: Set an element to display: block; and center via margin
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    text-align: center;
}

@media (min-width:1440px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
    .animated{-webkit-animation-fill-mode:both;
              -moz-animation-fill-mode:both;
              -ms-animation-fill-mode:both;
              -o-animation-fill-mode:both;
              animation-fill-mode:both;
              -webkit-animation-duration:1s;
              -moz-animation-duration:1s;
              -ms-animation-duration:1s;
              -o-animation-duration:1s;
              animation-duration:1s;}
    .animated.hinge{-webkit-animation-duration:2s;
                    -moz-animation-duration:2s;
                    -ms-animation-duration:2s;
                    -o-animation-duration:2s;
                    animation-duration:2s;}
@-webkit-keyframes flash {
	0%, 50%, 100% {
            opacity: 1;
        }	
        25%, 75% 
        {opacity: 0;
        }
}
    
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

    .fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
    .desktop-only {
        white-space: nowrap;
        overflow: visible;
    }
    .box-shadow {
        -webkit-box-shadow: 0px 0px 0px 7px rgba(255,255,255, 0.5);
        -moz-box-shadow: 0px 0px 0px 7px rgba(255,255,255, 0.5);
        box-shadow: 0px 0px 0px 7px rgba(255,255,255, 0.5);
    }
    .tablet-only {
        display: none;
    }
    .mobile-only {
        display: none;
    }
    #sidebar-menu{
        min-width: 180px;
    }
    .login_image{
        margin-top:20px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width:991px){
    .tablet-only {
        overflow: visible;
    }
    #sidebar-menu{
        min-width: 180px;
    }
    .mobile-only {
        display: none;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #4AAAA5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f0ffbb;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f0ffbb;
        background-color: #34363d;
    }

    #main_content{
        /*    display:inline;*/
        padding-right: 15px;
        padding-left: 15px;
        margin-top:58px;
        margin-right: auto;
        margin-left: auto;
        width:100%;
    }

    .mobile-only {
        white-space: nowrap;
        overflow: visible;

    }
    .desktop-only {
        display: none;
    }
    .tablet-only {
        display: none;
    }
    .brandLogo::after  {
        content: "DATAREGISTER";
        width:299px;
    }
}

