

.panel-default > .panel-heading{
     background-color: #000;
 }
 
.detail-view {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
}
p{
    font-size:1em;
}
.downloadbutton{
      display:none;
}