/* ---------------------------------------------------------------------- 
>>> TABLE OF CONTENT
-------------------------------------------------------------------------
1 - Basic Elements & Classes
2 - Top Navbar
3 - Sidebar
4 - Nav
5 - Main Container
5 - Gridview
6 - Footer
7 - Detailview
8 - Off sidebar
9 - Utilities
10 - Dropdown Menu
11 - Tabs
12 - Panles
13 - Pagination
14 - Accordion
15 - Animations
16 - Progress Bars
17 - Labels and Badges
18 - Form Elements
19 - Icons
20 - Buttons
21 - Links
22 - Form Wizard
23 - Login
24 - Invoice
25 - Timeline
26 - Tables
27 - User Profile
28 - Calendar
29 - Todo
30 - Chat
31 - Messages
32 - Modals
33 - Maps
34 - Pricing Table
35 - Error
36 - Page Title
37 - Tooltips
38 - Popovers
39 - Date Picker
/* ---------------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Oswald:700&text=DATREGISSKL&effect=shadow-multiple);
/* ---------------------------------------------------------------------- */
/*1 - Basic Elements & Classes--------------------------------------------*/
/* ---------------------------------------------------------------------- */
html,
body {
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
    /*font-size: 14px !important;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;    
    background: #eee;
    /* fall back if browser doesn´ support*/
    background: url("../assets/images/Background.svg") no-repeat, 
        url("../assets/images/Gradient.svg") no-repeat, #da9e5e;
    /* Chrome 10-25, Safari 5.1-6 W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#303E48;
}
h1{
    font-size: 2em;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* for error summary*/
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


#main_content_admin{
    margin-top:0px;
    width:100%;
    /*width:750px;*/
}
#main_container_admin{
    padding-top:50px;
    padding-right: 15px;
    padding-left: 15px;
    width:100%;
}
.wrapper{
    background: rgb(238, 238, 238); /* The Fallback */
    background: rgba(240, 238, 238, 0.8); 
}
.wrapper h1{
    padding:5px;
    margin-top: 0px;
    text-align: left;
    background:linear-gradient(to right, #eee,#ffdab2 , #4AAAA5);
    width: 100%
}
/*overwrite theme language item*/
.content-wrapper{
    background: rgb (243,225,206); /* The Fallback */
    background: rgba(255, 255, 255, .15);
}
.right-side{
    background: rgb (243,225,206); /* The Fallback */
    background: rgba(255, 255, 255, .15);
}
.bg-light-orange{
    background: rgb (243,225,206); /* The Fallback */
    background: rgba(218, 158, 94, .10);
}
/* ---------------------------------------------------------------------- */
/*-2-Top Navbar-----------------------------------------------------------*/
/* ---------------------------------------------------------------------- */
/*Header  item*/
header{
    margin-top: 0px;
}

.brandLogo {
    background-size: 70%;
    font-family: 'Oswald', sans-serif;
    background-image: url("../assets/images/logo_svg.svg");
    background-repeat: no-repeat;
    background-position-x: 2px;
    width: 105px;
    height: 48px;
    padding-left: 86px;
    padding-top: 8px;
}
.logo{

}

.main-header .logo {
    background:  #34363d;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.navbar{
    background-color: #34363d;
    /*display: none;*/
}
.navbar-default .navbar-brand {
    color: #aabbcc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #7accc8;
}
.navbar-default .navbar-text {
    color: #4AAAA5;
}

.navbar > a {
    color: #99CFCC;
}

.navbar > a:after {
    color: #dddddd;
}

.navbar .navbar-nav > li > a {
    color: #99CFCC;
}


.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #000;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #34363d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #7accc8;
    background-color: #34363d;
}
.navbar-default .navbar-toggle {
    border-color: #34363d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #34363d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #4AAAA5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fff;
}
.navbar-default .navbar-link {
    color: #4AAAA5;
}
.navbar-default .navbar-link:hover {
    color: #4AAAA5;
}

.sidebar-toggle:before{
    content:'\f03b' !important;
}

.bt-change{
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: rotateY(180deg);
    MozTransform:  rotateZ(180deg);
    WebkitTransform: rotateZ(180deg);
    msTransform: rotateZ(180deg);
}
/* ---------------------------------------------------------------------- */
/*-3-Sidebar-------------------------------------------------------------*/
/* ---------------------------------------------------------------------- */
/* sidebar-menu begin*/

aside{
    z-index: -1;
}

.sidebar-menu {
    background: #34363d;
  
}

.sidebar-menu > li {
    margin: 0;
    padding: 0;
    background: #34363d;
}

.sidebar-menu > ul {
    background: #34363d;
    border-radius: 0px;
}

.sidebar-menu > ul > li > a {
    border-radius: 0px;
    color: #99CFC1;
    font-size: 14px;
    outline: none;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-menu > ul > li > a:hover {
    border-radius: 0px;
    color: #fdf7f7;
    font-size: 14px;
    background-color: #3d6664;
    outline: none;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-menu > li > a {
    background: #34363d;
    color: #99CFCC;
    display: block;
    font-size: 14px;
    outline: none;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-bottom: 1px solid #c9d8c5;
}

.sidebar-menu > li > a:hover {
    background: #000000;
    color: #EEF;
}

/* ---------------------------------------------------------------------- */
/*-5-Gridview-------------------------------------------------------------*/
/* ---------------------------------------------------------------------- */


.not-set {
    color: #c55;
    font-style: italic;
}
/*a{
  color: #e45f56;
}*/
/*a:hover, a:focus{
  color: #e45f16;
}*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
/* add sorting icons to gridview sort links */
a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}


.row-fluid-aside {
    outline: none; 
    margin-left: 0px;
    display: flex;
}
/* ---------------------------------------------------------------------- */
/*-6 - Footer------------------------------------------------------------*/
/* ---------------------------------------------------------------------- */
footer{
    width: 100%;
    background-color: #34363d;
    margin-bottom: 0px;
    padding-bottom: 0px;
    z-index: 999;
}
.footer-nav{
    margin:10px;
}
.footertext{
    color:#ddd;
}


/* ---------------------------------------------------------------------- */
/*-7 - Detailview-----------------------------------------------------*/
/* ---------------------------------------------------------------------- */
/* for computer damage view image*/
.utdanningimage{
    max-height: 120px;
}
/* ---------------------------------------------------------------------- */
/*-16 - progression bar---------------------------------------------------*/
/* ---------------------------------------------------------------------- */
/* for loading progress gif*/
.load {
    width: 356px;
    height: 356px; 
    margin-left: auto;
    margin-right: auto;
    background:url(http://www.cuisson.co.uk/templates/cuisson/supersize/slideshow/img/progress.BAK-FOURTH.gif) no-repeat center center; 
}
/* ---------------------------------------------------------------------- */
/*-19 - Icons-------------------------------------------------------------*/
/* ---------------------------------------------------------------------- */

.icon-stack{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.icon-stack-1x,
.icon-stack-2x {
    position: absolute;
    width: 100%;
    text-align: center;
}

.icon-stack-1x{
    left:0px;
}
.icon-stack-2x{
    top:25px;
    left:10px;
    color: #ccc;
}

/* ---------------------------------------------------------------------- */
/*-20 - Buttons-----------------------------------------------------*/
/* ---------------------------------------------------------------------- */

.btn{
    border-radius: 0px;
}
.btn-rounded{
    border-radius: 24px;
    padding: 10px;
}
.btn-primary{
    background-color:#B2D7FF;
    color:#34363d;
}
.btn-primary:hover, .btn-primary:active{
    background-color:#99caff;
}
.btn-info{
    background-color:#7accc8;
    color:#34363d;
}
.btn-info:hover,.btn-info:active{
    background-color:#4AAAA5;
}  
.btn-success{
    background-color:#3d6664;
}
.btn-success:hover,.btn-success:active,.btn-success:visited{
    background-color:#416d6c;
}

.btn-danger{
    color:#34363d;
    background-color:#FFACA9;
}
.btn-danger:hover,.btn-danger:active,.btn-danger:visited{
    background-color:#cc7a7e;
}

.btn-default{
    color:#34363d;
    background-color:#ffd7aa;
}
.btn-default:hover,.btn-default:active{
    background-color:#ffebd4;
}

.breadcrumb{
    background: rgba(240, 238, 238, 0.8); 
    border-radius: 0;
}


.flowleft{
    margin-top: -11px;
    margin-left: -152px;
}

/*overwrite panel-default of bootstrap*/
.panel-default > .panel-heading{
    background-color: #fff;
}